<div class="p-2" >
    <div style="width: 25%; border: 2px solid black;" class="p-2" >
        <div class="d-flex justify-content-between m-0 " >
            <span class="my-auto p-1 " style="font-size: 25px; font-weight: 600;   ">&#8377;</span><h1 class=""> 3000</h1>
            <small class="" style="margin: auto; margin-right: 0; font-weight: 600;"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-lg"  viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                  </svg>
                You paid</small>
        </div>
        <div class="d-flex justify-content-between" >
            <div class="" >
                <small style="font-size: 12px; font-weight: 600;"> Transaction ID </small>
                <p style="font-size: 11px; font-weight: 600;">5636633333hhhhhhhhghh</p>
                <button class="rounded px-3" style="margin-right:10px ;">Cancel</button>
                <button class="rounded px-4" style="margin-right:10px ;">Pay</button>
                <button class="rounded px-3">Decline</button>
            </div>
            <div class="" style="margin:auto ; margin-right:0; margin-top: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
            </div>
        </div>

        

    </div>
    <div style="font-size: 11PX; text-align:end; width: 25%; font-weight: 600;">19 Nov 2019, 10:35 am</div>
</div>
<div style="border-bottom:3px dotted ;">
<h1 style="margin-bottom:-14px ; margin-left: 45%; "> <span style="background-color: white; font-size: 15px;">19 Nov 2019 </span></h1></div>
<div></div>
